$fav_color: red;
$fonts: 'Times New Roman', serif;


@mixin borders($color) {
	border: 1px solid $color;
	display: inline;
}

h1 {
	color: $fav_color;
}

nav {
	li {
		@include borders(black);
	}

	p {
		font-family: $fonts;
	}
}

div {
	li {
		border: 1px solid black;
	}

	p {
		@extend li;
		border-color: blue;
	}
}

